<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Acerca de</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Contacto</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Preguntas frecuentes</a></li>
            </ul>
            <p class="nav-link px-2 mx-3 text-white">Bienvenido/a, {{user.username}}</p>
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-white" id="dropdownUser1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small mt-2" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="/perfil">Perfil</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>